<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41711140833-f1l755st1np9ob9lhla9vnm4l4j1cp01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41711140833-f1l755st1np9ob9lhla9vnm4l4j1cp01</string>
	<key>API_KEY</key>
	<string>AIzaSyAxzZtrLAwzoDMC8cy10qUfsr7Y2Fiy0zc</string>
	<key>GCM_SENDER_ID</key>
	<string>41711140833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.utas.edu.blpoke.assignment4.kit305Assignment4</string>
	<key>PROJECT_ID</key>
	<string>assignment2-18514</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment2-18514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41711140833:ios:8092c5c679bb6586b79ca0</string>
</dict>
</plist>